---
title: Home
layout: base
group: home
permalink: /
---

<section class="rl-front-page">
  <div class="rl-front-page-head">{% include navigation.html %}</div>

  <div class="rl-front-page-body">
    <div class="container">
      <div class="rl-main-top">
        <div class="rl-main-description">
          <p class="rl-main-description-highlight">
            A language for secure applications and games.
          </p>

          <p>
            Using Crochet, you can create, run, and remix applications while
            worrying less about privacy and security. Capabilities ensure that
            code can only use your computer and data in ways you know and
            consent to.
          </p>

          <p>
            Crochet is free to use, open-source, and anything you create with Crochet can
            be used for commercial purposes.
          </p>

          </div>
        </div>
      </div>
    </div>

    <div class="rl-front-page-install">
      <div class="rl-fpi-container">
        <div class="rl-fpi-title">Install it with <a href="https://nodejs.org/en/">npm</a></div>
        <div class="rl-fpi-shell">
          <code>
            $ npm install @qteatime/crochet@experimental
          </code>
        </div>
        <div class="rl-fpi-meta">
          <div class="rl-fpi-meta-entry">v0.13.0</div>
          <div class="rl-fpi-meta-entry"><a href="https://crochet.qteati.me/docs/">Documentation</a></div>
          <div class="rl-fpi-meta-entry"><a href="https://crochet.qteati.me/roadmap/">Roadmap</a></div>
        </div>
      </div>
    </div>
  </div>
</section>

{% include footer.html %}