@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,600;1,400&family=PT+Sans+Caption:wght@700&family=Source+Code+Pro:ital,wght@0,400;0,700;1,400&display=swap");

.main article {
  font-size: 1.1em;
  font-family: Lora, serif;
}

.highlight {
  border: 1px solid #ececea;
  border-left-width: 10px;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1);
  font-size: 1.1em;
}

.highlight pre,
code,
pre,
kbd,
samp {
  font-family: "Source Code Pro", monospace;
}

h1,
h2,
h3 {
  font-family: "PT Sans Caption", sans-serif;
  margin-top: 2rem;
}

h3 {
  border-bottom: 1px solid #ececea;
}

.admonition {
  font-family: sans-serif;
  border: 1px solid #ececea;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1);
  border-left-width: 5px;
}

.admonition-title {
  font-family: "PT Sans Caption", sans-serif;
  text-transform: uppercase;
  font-size: 0.9em;
}

.field-list dt,
.option-list dt,
dl.footnote dt,
dl.glossary dt,
dl.simple dt,
dl:not([class]) dt {
  font-family: "PT Sans Caption", sans-serif;
  font-weight: bold;
  margin-top: 1.5em;
}
